<!DOCTYPE html>
<html>
<head>
    <title>Ship Analysis</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <style>
        #map { width: 100%; height: 600px; }
    </style>
</head>
<body>
<div id="map"></div>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>

var map = L.map('map').setView([0, 0], 2);  // Adjust the center and zoom level

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© PoleStarLogistics'
}).addTo(map);

// Fetch the list of ships
fetch('/api/ships/')
    .then(response => response.json())
    .then(ships => {
        ships.forEach(ship => {
            // For each ship, fetch the positions
            fetch(`/api/positions/${ship.imo_number}/`)
                .then(response => response.json())
                .then(positions => {
                    if (positions.length > 0) {
                        // Function to parse latitude and longitude from the 'location' field
                        const parseLatLng = (location) => {
                            var coords = location.match(/POINT \(([^ ]+) ([^ ]+)\)/).slice(1, 3);
                            return [parseFloat(coords[1]), parseFloat(coords[0])]; // lat, lng
                        };

                        // Add a marker for the current location (first position in the array)
                        const currentLatLng = parseLatLng(positions[0].location);
                        L.marker(currentLatLng).bindPopup(`Currently Here<br>Ship: ${ship.name}<br>Timestamp: ${positions[0].timestamp}<br>Lat-Lng: ${currentLatLng}`).addTo(map);


                        // Add red markers for the previous track (excluding the first position)
                        positions.slice(1).forEach(position => {
                            const latLng = parseLatLng(position.location);
                            L.circleMarker(latLng, {
                                color: 'red',
                                radius: 3
                            }).bindPopup(`Ship: ${ship.name}<br>Timestamp: ${positions[0].timestamp}<br>Lat-Lng: ${currentLatLng}`).addTo(map);
                        });
                    }
                });
        });
    });
</script>
</body>
</html>
